<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">

    <div align="center" *ngIf="_productosService.cargando">
        <h2>Cargando</h2>
        <img src="assets/loading/Wedges-3s-200px.svg" alt="" style="width: 8%">
        <p>Espere por favor</p>
    </div>

  <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4" *ngIf="! _productosService.cargando">

   

    <a *ngFor="let producto of _productosService.productos"  routerLink="/item" class="animated fadeIn rk-item ae-masonry__item"><img
        src="assets/productos/{{producto.url}}.jpg" alt="">
      <div class="item-meta">
        <h2>{{producto.titulo}}</h2>
        <p>{{producto.categoria}}</p>
      </div>
    </a>
    
    
  </div>
</section>
